%body
  .flash-box 
    .notice グループを作成しました
  .wrapper
    .chat-side
      .side-header
        %p.side-header__user-name 尾崎俊行
        %ul.user-menu
          %li.user-menu__edit-user
            %a{:href => "/groups/new"}
              %i.fa.fa-edit 
          %li.user-menu__new-group
            %a{:href => "/users/707/edit"}
              %i.fa.fa-cog 
      .groups
        %a{:href => "/groups/1556/messages"}
          .group
            %p.group__group-name e
            %p.group__latest-message zzzzz
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name e
          %ul.member-list
            Member：
            %li.member-list__member 尾崎俊行
        %a{:href => "/groups/1556/edit"}
          .main-header__edit-btn Edit
      .messages
        .message
          .upper-info
            %p.upper-info__user 尾崎俊行
            %p.upper-info__date 
          %p.message__text zzzzz
  .form
    %form#new_message.new-message
     
      
      .input-box
        %input#message_content.input-box__text{:placeholder => "type a message", }/
        %label.image-label{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
      %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
